{{#each players as |player|}}
    {{#if player.computerPlayer}}
        <h2>Opponent Dinner</h2>
    {{else}}
        <h2>My Hand</h2>
        <div class="player-hand">
            {{#each player.hand as |card|}}
                <div class="card {{slug card.type}}" data-index="{{@index}}">
                    {{card.name}}
                </div>
            {{/each}}
        </div>
        <h2>My Dinner</h2>
    {{/if}}
    <div class="dinner">
        {{#each player.dinner as |card|}}
            <div class="card {{slug card.type}}" data-index="{{@index}}">
                {{card.name}}
            </div>
        {{/each}}
    </div>
{{/each}}
